.button-color {
    color: white;
    background-color: darkred;
}

.card-color {
    border-color: darkred;
}

.card-image {
    object-fit: cover;
    height: 200px;
}

.card-width {
    max-width: 18rem;
}

.carousel-image {
    object-fit: cover;
    object-position: 0% 80%;
}

.title-color {
    color: darkred;
}

.title-font {
    font-family: 'Pacifico', cursive;
}
